@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: Outfit;
}

a {
	text-decoration: none;
}

.MuiOutlinedInput-notchedOutline {
	border-color: #ffffff !important;
}

.MuiFilledInput-root {
	border-bottom: 1px solid #ffffff !important;
}

.MuiInput-root {
	border-bottom: 1px solid #ffffff !important;
}

.MuiOutlinedtextfield {
	color: rgb(255, 255, 255);
}
.MuiPaginationItem-root {
	color: #ffffff !important;
}
